:root
{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html{
    font-size: 62.5%; /*1rem = 10px*/
    box-sizing: border-box;      
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    /* background-image: linear-gradient(to bottom, var(--grisClaro) 0%, var(--blanco) 100%); */
}


h1{
    font-size:3.8rem;
}

h2{
    font-size:2.8rem;
}

h3{
    font-size:1.8rem;
}
h1,h2,h3{
    text-align: center;
}

.titulo span{
    font-size: 2rem;    
}

/*h1.titulo span{
    font-size: 2rem;
    color:red;
}

span{
    color:pink!important;
}*/

.contenedor{
    /* estas 3 ordenes de margin son iguales, siguiendo manecillas de reloj, arriba, derecha, abajo, izquierda */

    /* 
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    
    /* margin: 0 auto 0 auto; */
    
    margin: 0 auto;
    max-width: 120rem;
    
    
}

.nav-bg {
    background-color: var(--secundario);  
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal
    {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;  
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

}

.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--primario);
}



.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 20px; */
    height: 450px;
    position: relative;



}

.contenido-hero{
    position: absolute;
    
    /*hace lo mismo que la orden de abajo*/
    /* background-color: rgba(0,0,0,.6); */ 
    
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    
    /* estas ordenes posicionan todo un "cuadro" desde arriba, abajo, izq y der. SI solo le colocase top 0 deja arriba las propiedades que se colocó en esta clase, pero como se coloca top, bottom, left y right, entonces aplica para todos los lados formando un cuadro */

    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p{
    color:var(--blanco)
}

.ubicacion{
    display: flex;
    align-items: flex-end; 
    
}

.boton{
    color: var(--blanco);
    text-decoration:none;
    background-color: var(--secundario);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-weight: bold;
    border-radius: .5rem;
    text-transform: uppercase;
    width:90%;
    text-align: center;
    font-size:2rem

}

@media (min-width: 500px) {
    .boton{
        width: auto;       
    }
}


.sombra{
    -webkit-box-shadow: -1px 3px 22px 7px rgba(110,110,110,1);
    -moz-box-shadow: -1px 3px 22px 7px rgba(110,110,110,1);
    box-shadow: -1px 3px 22px 7px rgba(110,110,110,1);
    padding: 2rem;
    border-radius:1rem;
}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        /* estas 3 ordenes son iguales a la anterior orden */
    
        /* grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 1fr 1fr 1fr;
        grid: 1 / 1fr 1fr 1fr; */
    }
}

